<!DOCTYPE html>
<html>
  
<h1>Pirate</h1>
  <h2> <%= params[pirate][name] %>  </h2>
  <h2> <%= params[pirate][height] %>  </h2> 
  <h2> <%= params[pirate][weight] %>  </h2>
  

<h2>First Ship</h2>
  <h3>  <%= %> </h3>
  <h3>  <%= %> </h3>
  <h3>  <%= %> </h3>


<h2>Second Ship</h2>        
  <h3>  <%= %> </h3>
  <h3>  <%= %> </h3>
  <h3>  <%= %> </h3>
</html>